<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender
            name="httpAccessLogAppender"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>log/http-access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>log/http-access-%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%msg%n</pattern>
        </encoder>
        <immediateFlush>true</immediateFlush>
    </appender>

    <logger name="Lark_EVENT_LOGGER" additivity="false" level="info">
        <appender-ref ref="httpAccessLogAppender" />
    </logger>

    <logger name="io.micronaut.http.client" level="TRACE"/>

    <logger name="io.micronaut.core.reflect" level="trace" />

    <logger name="io.micronaut.context.condition" level="TRACE"/>


    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
